@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Playfair+Display:wght@400;500&family=Roboto:wght@500&display=swap");
/* ======== Breakpoint ======== */
/* ======== Font family ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "YuGothic", sans-serif;
  line-height: 1.6;
}

img {
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  [data-media]:not([data-media~=sp]) {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  [data-media]:not([data-media~=pc]) {
    display: none !important;
  }
}
.c-accordion .c-accordion__body {
  transition: all 0.5s ease;
  overflow: hidden;
  height: 0;
}
.c-accordion.is-show .c-accordion__body {
  display: block;
  height: auto;
}

.c-accordion-top {
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .c-accordion-top {
    border-top: 0.2667vw solid;
    border-bottom: 0.2667vw solid;
  }
}
@media screen and (min-width: 768px) {
  .c-accordion-top {
    border-top: 0.0694vw solid;
    border-bottom: 0.0694vw solid;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .c-accordion-top {
    border-top: 0.1199vw solid;
    border-bottom: 0.1199vw solid;
  }
}
.c-accordion-top.is-show .c-accordion-top__icon {
  background-image: url("/images/icons/ic-subtract.svg");
}
@media screen and (max-width: 767px) {
  .c-accordion-top.is-show .c-accordion-top__icon {
    top: 4.5333vw;
  }
}
@media screen and (min-width: 768px) {
  .c-accordion-top.is-show .c-accordion-top__icon {
    top: 1.1806vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .c-accordion-top.is-show .c-accordion-top__icon {
    top: 2.0384vw;
  }
}

.c-accordion-top__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .c-accordion-top__btn {
    padding: 2.1333vw 0;
  }
}
@media screen and (min-width: 768px) {
  .c-accordion-top__btn {
    padding: 0.4167vw 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .c-accordion-top__btn {
    padding: 0.7194vw 0;
  }
}

.c-accordion-top__btn-text {
  font-family: "YuGothic", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .c-accordion-top__btn-text {
    font-size: 3.7333vw;
  }
}
@media screen and (min-width: 768px) {
  .c-accordion-top__btn-text {
    font-size: 1.1111vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .c-accordion-top__btn-text {
    font-size: 1.5348vw;
  }
}

.c-accordion-top__icon {
  position: absolute;
  background-image: url("/images/icons/ic-plus.svg");
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .c-accordion-top__icon {
    width: 4.5333vw;
    height: 4.5333vw;
    right: 2.1333vw;
    top: 2.1333vw;
    background-size: 4.5333vw;
  }
}
@media screen and (min-width: 768px) {
  .c-accordion-top__icon {
    width: 1.4583vw;
    height: 1.4583vw;
    right: 1.3889vw;
    top: 0.5556vw;
    background-size: 1.4583vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .c-accordion-top__icon {
    width: 2.518vw;
    height: 2.518vw;
    right: 1.5588vw;
    top: 0.7194vw;
    background-size: 2.518vw;
  }
}

@media screen and (max-width: 767px) {
  .c-accordion-top__content {
    padding-top: 5.3333vw;
  }
}
@media screen and (min-width: 768px) {
  .c-accordion-top__content {
    padding-top: 1.3889vw;
  }
}

.c-page-intro {
  display: none;
}
.c-page-intro.is-animating {
  display: block;
  position: fixed;
  inset: 0;
  z-index: 1050;
}
.c-page-intro.is-animating .c-page-intro__wrapper {
  -webkit-animation: pageIntroHeight 2s ease 2s forwards;
          animation: pageIntroHeight 2s ease 2s forwards;
}
.c-page-intro.is-animating .c-page-intro__logo {
  -webkit-animation: fadeIn 2s ease forwards;
          animation: fadeIn 2s ease forwards;
}
.c-page-intro.is-animated {
  display: none !important;
}

.c-page-intro__logo {
  position: absolute;
  bottom: 50vh;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  z-index: 2;
}

.c-page-intro__wrapper {
  position: absolute;
  width: 100%;
  background-color: #000;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}

@-webkit-keyframes pageIntroHeight {
  100% {
    top: 100%;
  }
}

@keyframes pageIntroHeight {
  100% {
    top: 100%;
  }
}
.c-button {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  line-height: 1;
  transition: 0.3s;
  cursor: pointer;
}
.c-button:hover {
  background-color: #666666;
  color: #fff;
}
.c-button--full {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .c-button {
    font-size: 1.1111vw;
    padding: 1.1111vw 1.3889vw;
    gap: 0.5556vw;
  }
}
@media screen and (max-width: 767px) {
  .c-button {
    font-size: 4.2667vw;
    padding: 4.2667vw 5.3333vw;
    gap: 2.1333vw;
  }
}

.l-header {
  color: #fff;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 40;
  background-color: transparent;
  transition: 0.3s;
  opacity: 0;
  -webkit-animation: fadeIn 3s ease 4s forwards;
          animation: fadeIn 3s ease 4s forwards;
  position: fixed;
}
.l-header.is-dark .l-header__inner {
  background-color: #000;
}
@media screen and (min-width: 768px) {
  .l-header.is-dark .l-header__inner {
    padding: 1.7361vw 2.7778vw;
  }
}

.l-header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .l-header__inner {
    padding: 2.4306vw 2.7778vw;
  }
}
@media screen and (max-width: 767px) {
  .l-header__inner {
    padding: 5.3333vw 5.3333vw;
  }
}

.l-header__menu-pc {
  display: flex;
  margin-left: auto;
}

.l-header__link {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (min-width: 768px) {
  .l-header__link {
    font-size: 14px;
    padding-bottom: 0.2778vw;
    margin-bottom: 0.2778vw;
    letter-spacing: 0.0903vw;
  }
}
@media screen and (min-width: 1440px) {
  .l-header__link {
    font-size: 0.9722vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .l-header__link {
    padding-bottom: 0.4796vw;
    margin-bottom: 0.4796vw;
    letter-spacing: 0.1559vw;
  }
}
.l-header__link:after {
  content: "";
  transition: width 0.4s;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 0px;
  height: 1px;
  background-color: #fff;
}
.l-header__link:hover:after {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .l-header__link:not(:first-child) {
    margin-left: 2.7778vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .l-header__link:not(:first-child) {
    margin-left: 4.7962vw;
  }
}

.l-header__menu-link {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
}

.l-header__logo {
  width: auto;
}
@media screen and (min-width: 768px) {
  .l-header__logo {
    height: 30px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 767px) {
  .l-header__logo {
    height: 5.3333vw;
  }
}
@media screen and (min-width: 1440px) {
  .l-header__logo {
    height: 2.0833vw;
  }
}

.l-header__menu-button {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .l-header__menu-button {
    height: 6.6667vw;
  }
}

.l-header.is-menu-opening .l-header__menu-button-open-icon {
  display: none;
}
.l-header.is-menu-opening .l-header__menu-button-close-icon {
  display: block;
}
.l-header.is-menu-opening .l-header__menu-inner {
  height: calc(100vh - 16vw);
}
.l-header.is-menu-opening .l-header__menu-content {
  opacity: 0;
  -webkit-animation: fadeIn 2s ease 0s forwards;
          animation: fadeIn 2s ease 0s forwards;
  transform: translateY(-5.3333vw);
}

.l-header__menu-button-open-icon {
  width: 8vw;
}

.l-header__menu-button-close-icon {
  display: none;
  width: 5.8667vw;
}

.l-header__menu-inner {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 0px;
  background-color: #000;
  overflow-x: hidden;
  overflow-y: auto;
  transition: height 0.3s;
}

.l-header__menu-content {
  margin-top: 5.3333vw;
  padding: 5.3333vw 6.1333vw;
  transition: transform 2s;
}
.l-header__menu-content .l-header__menu-link {
  font-size: 10.6667vw;
  font-weight: 500;
  letter-spacing: 1.0667vw;
}
.l-header__menu-content .l-header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 9.6vw;
  margin-bottom: 19.7333vw;
  padding: 0px 1.3333vw;
}

.l-header__menu-content-button {
  margin: 6.4vw auto 0px;
  width: calc(100% - 2px);
  text-decoration: none;
}

body.is-menu-opening {
  overflow: hidden;
}

.l-footer {
  position: relative;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fff;
}
.l-footer img {
  max-width: 100%;
}

.l-footer__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.l-footer__container--flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.l-footer__top {
  padding: 32px 16px;
  background: linear-gradient(270deg, #e5f9fd 10.85%, #f4fcff 81.32%);
  display: flex;
  justify-content: center;
}

.l-footer__link-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .l-footer__link-group--mt-pc {
    margin-top: 24px;
  }
}

.l-footer__link {
  color: #1f1f1f;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.l-footer__link-icon {
  vertical-align: -3px;
  width: 21px;
}

.l-footer__divider {
  display: inline-block;
  width: 1px;
  height: 18px;
  opacity: 0.2;
  background: #1f1f1f;
}

.l-footer__bottom {
  padding: 32px 16px;
}
@media screen and (max-width: 767px) {
  .l-footer__bottom {
    border-top: 1px solid #d5d5d5;
  }
}

.l-footer__logo-wrapper {
  display: flex;
}

.l-footer__logo {
  width: 180px;
  height: auto;
  margin: 0px auto;
}

.l-footer__certification {
  display: flex;
}

.l-footer__certification-img {
  height: 56px;
  margin-left: 10px;
}

.l-footer__certification-text {
  color: #1f1f1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.l-footer__certification-link {
  color: #0079d0;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.l-footer_bottom-right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.l-footer__copyright {
  color: #888888;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
  padding: 0 4px;
}
@media screen and (max-width: 767px) {
  .l-footer__copyright {
    text-align: center;
    padding: 12px 0px;
    color: #333333;
    opacity: 0.5;
    font-weight: 500;
  }
}

.l-footer__logo {
  height: auto;
  margin-top: 70px;
  width: 175px;
}
@media screen and (max-width: 767px) {
  .l-footer__logo {
    margin-top: 32px;
    width: 180px;
  }
}

.l-footer_bottom-left {
  padding-right: 12px;
  flex-shrink: 0;
}

@media screen and (max-width: 767px) {
  .l-footer_bottom-right {
    align-items: center;
  }
}

.l-main {
  position: relative;
}

.p-visual {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-visual {
    height: 100vh;
  }
}
@media screen and (max-width: 767px) {
  .p-visual {
    padding: 80px 0px 33.3333vw;
  }
}

.p-visual__inner {
  padding: 20px 23px;
  left: 50%;
}
@media screen and (min-width: 768px) {
  .p-visual__inner {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 767px) {
  .p-visual__inner {
    top: 35.7333vw;
    height: 568px;
    width: 100%;
  }
}

.p-visual__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  opacity: 0;
  -webkit-animation: fadeIn 3s ease 3s forwards;
          animation: fadeIn 3s ease 3s forwards;
}
@media screen and (min-width: 768px) {
  .p-visual__content {
    padding-top: 3.0556vw;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .p-visual__content {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-visual__content {
    padding-top: 5.2758vw;
  }
}

.p-visual__scrollbar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 60px;
}
.p-visual__scrollbar:before {
  content: "";
  display: block;
  opacity: 0.5;
  background-color: #fff;
  width: 1px;
  height: 100%;
  height: 13.8889vw;
}
.p-visual__scrollbar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: 0.2s 0.5s;
  transform-origin: bottom;
  -webkit-animation: down 1.8s infinite;
          animation: down 1.8s infinite;
  transform: translateX(50%);
}

.p-visual__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: unset;
}
.p-visual__img--ml {
  margin-left: 0.8vw;
}
.p-visual__img--center {
  margin: 0 auto;
}

.p-visual__img-1 {
  width: 57.3611vw;
}

.p-visual__img-2 {
  width: 28.4722vw;
}

/* styles.scss */
.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 500ms;
  background-color: rgba(0, 0, 0, 0.8);
}
.c-modal.open {
  z-index: 1000;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.c-modal__inner {
  width: 100vw;
  height: 100vh;
}

.c-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: opacity 500ms;
}
@media screen and (max-width: 767px) {
  .c-modal-close {
    margin-top: 5.3333vw;
    gap: 3.2vw;
  }
}
@media screen and (min-width: 768px) {
  .c-modal-close {
    margin-top: 1.3889vw;
    gap: 0.8333vw;
  }
}
.c-modal-close:hover {
  opacity: 0.5;
}

.c-modal-close__text {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "Playfair Display";
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .c-modal-close__text {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 768px) {
  .c-modal-close__text {
    font-size: 0.8333vw;
  }
}

.c-modal-map {
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .c-modal-map {
    width: 89.3333vw;
    height: 67.2vw;
  }
}
@media screen and (min-width: 768px) {
  .c-modal-map {
    width: 69.4444vw;
    height: 38.8889vw;
  }
}
.c-modal-map iframe {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes ball-scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes ball-scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.c-loading-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.c-loading {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  height: 60px;
  width: 60px;
  -webkit-animation: ball-scale 1s 0s ease-in-out infinite;
  animation: ball-scale 1s 0s ease-in-out infinite;
}

.u-container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .u-container {
    padding: 0 5.3333vw;
  }
}
@media screen and (min-width: 768px) {
  .u-container {
    padding: 0 1.3889vw;
    max-width: 86.1111vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .u-container {
    padding: 0 2.3981vw;
    max-width: none;
  }
}

.js-fade-up {
  opacity: 0;
  transform: translateY(100px);
}

@media screen and (max-width: 767px) {
  .js-fade-up-sp {
    opacity: 0;
    transform: translateY(100px);
  }
}

.js-fade-out {
  opacity: 0;
  transform: translateX(-100px);
}

@media screen and (max-width: 767px) {
  .js-fade-out-sp {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.u-full {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes down {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  25% {
    transform: scaleY(1);
    transform-origin: top;
  }
  50% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  75% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}
@keyframes down {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  25% {
    transform: scaleY(1);
    transform-origin: top;
  }
  50% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  75% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}
.special-box {
  background-color: #000;
}

.special-box-text {
  color: #FFFFFF;
  font-family: "YuGothic", sans-serif;
  line-height: 1.6;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .special-box-text {
    padding-bottom: 4.2667vw;
    font-size: 3.7333vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-text {
    padding-bottom: 1.1111vw;
    font-size: 1.1111vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-text {
    font-size: 1.5348vw;
  }
}

.special-box__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.special-box__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .special-box__inner {
    padding: 21.3333vw 0 16vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box__inner {
    margin: 0 auto;
    max-width: 55.5556vw;
    width: 100%;
    padding: 6.9444vw 0 4.1667vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box__inner {
    min-width: 76.7386vw;
  }
}
@media screen and (max-width: 767px) {
  .special-box__inner--pt {
    padding-top: 21.3333vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box__inner--pt {
    padding-top: 8.3333vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box__inner--pt {
    padding-top: 11.9904vw;
  }
}

.special-box__title {
  position: relative;
}
@media screen and (max-width: 767px) {
  .special-box__title {
    margin-bottom: 16.5333vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box__title {
    margin-bottom: 5.5556vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box__title {
    margin-bottom: 7.1942vw;
  }
}

.special-box__title-text {
  position: relative;
  z-index: 2;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  line-height: 1;
  font-family: "Playfair Display";
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .special-box__title-text {
    font-size: 16vw;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .special-box__title-text {
    font-size: 6.9444vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box__title-text {
    font-size: 8.3933vw;
  }
}

.special-box__circle {
  position: absolute;
  z-index: 0;
}
@media screen and (max-width: 767px) {
  .special-box__circle {
    width: 28vw;
    height: 28vw;
    right: 1.0667vw;
    top: 11.2vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box__circle {
    width: 9.1667vw;
    height: 9.1667vw;
    top: -2.9167vw;
    right: -7.0139vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box__circle {
    width: 11.1511vw;
    height: 11.1511vw;
    top: -3.5971vw;
    right: -8.753vw;
  }
}

.special-box__des {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "Playfair Display";
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .special-box__des {
    font-size: 8.5333vw;
    margin-bottom: 10.6667vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box__des {
    font-size: 4.1667vw;
    margin-bottom: 4.1667vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box__des {
    font-size: 5.7554vw;
    margin-bottom: 5.7554vw;
  }
}

.special-box__brand {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .special-box__brand {
    gap: 5.3333vw;
    margin-bottom: 5.8667vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box__brand {
    gap: 2.2222vw;
    margin-bottom: 1.3889vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box__brand {
    gap: 2.8777vw;
    margin-bottom: 1.9185vw;
  }
}
@media screen and (max-width: 767px) {
  .special-box__brand img {
    width: 6.4vw;
    height: 6.4vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box__brand img {
    width: 3.8369vw;
    height: 3.8369vw;
  }
}

.special-box__brand-span {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "Playfair Display";
  line-height: 1;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .special-box__brand-span {
    font-size: 5.3333vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box__brand-span {
    font-size: 2.7778vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box__brand-span {
    font-size: 3.8369vw;
  }
}

.special-box__text {
  color: #FFFFFF;
  font-family: "YuGothic", sans-serif;
  line-height: 2;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .special-box__text {
    margin-bottom: 4.2667vw;
    font-size: 3.7333vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box__text {
    margin-bottom: 1.1111vw;
    font-size: 1.1111vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box__text {
    font-size: 1.5348vw;
  }
}

.special-box__note {
  color: #FFFFFF;
  font-family: "YuGothic", sans-serif;
  line-height: 2;
  position: relative;
}
@media screen and (max-width: 767px) {
  .special-box__note {
    font-size: 3.2vw;
    padding-left: 4.5333vw;
    margin-bottom: 5.3333vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box__note {
    font-size: 0.8333vw;
    padding-left: 1.1806vw;
    margin-bottom: 2.7778vw;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box__note {
    font-size: 1.199vw;
    padding-left: 2.0384vw;
    margin-bottom: 3.8369vw;
  }
}
.special-box__note::before {
  content: "※";
  position: absolute;
  top: 0;
  left: 0;
}

.special-box-list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .special-box-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.special-box-item {
  display: flex;
  background-color: #222222;
}
.special-box-item:first-of-type {
  background-color: #141021;
  justify-content: end;
}
@media screen and (max-width: 767px) {
  .special-box-item {
    padding: 16vw 5.3333vw;
  }
}

.special-box-card {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .special-box-card {
    max-width: 41.6667vw;
    padding: 5.5556vw 8.3333vw 5.5556vw 0;
  }
}
@media screen and (min-width: 768px) {
  .special-box-card--spacing {
    padding: 5.5556vw 0 5.5556vw 8.3333vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-card {
    max-width: 50vw;
    padding: 7.6739vw 1.9185vw;
  }
}

.special-box-card__title {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "Playfair Display";
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .special-box-card__title {
    font-size: 10.6667vw;
    margin-bottom: 3.2vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-card__title {
    font-size: 2.7778vw;
    margin-bottom: 0.8333vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-card__title {
    font-size: 3.8369vw;
    margin-bottom: 1.199vw;
  }
}

.special-box-card__sub {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "YuGothic", sans-serif;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .special-box-card__sub {
    font-size: 4.2667vw;
    margin-bottom: 10.6667vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-card__sub {
    font-size: 1.1111vw;
    margin-bottom: 2.7778vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-card__sub {
    font-size: 1.5348vw;
    margin-bottom: 3.8369vw;
  }
}

@media screen and (max-width: 767px) {
  .special-box-slider {
    margin-bottom: 8.5333vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-slider {
    margin-bottom: 2.7778vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-slider {
    margin-bottom: 3.8369vw;
  }
}

.special-box-slider__main {
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .special-box-slider__main {
    margin-bottom: 3.7333vw;
    height: 66.6667vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-slider__main {
    margin-bottom: 0.9722vw;
    height: 25vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-slider__main {
    margin-bottom: 1.199vw;
    height: 34.5324vw;
  }
}
.special-box-slider__main img {
  width: 100%;
  height: auto;
}

.special-box-slider__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 767px) {
  .special-box-slider__list {
    gap: 2.1333vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-slider__list {
    gap: 0.5556vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-slider__list {
    gap: 0.9592vw;
  }
}

.special-box-slider__item {
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .special-box-slider__item {
    height: 16vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-slider__item {
    height: 5.9028vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-slider__item {
    height: 8.1535vw;
  }
}
.special-box-slider__item.active img {
  opacity: 0.5;
}
.special-box-slider__item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 500ms;
}
.special-box-slider__item img:hover {
  opacity: 0.5;
}

.special-box-card__action {
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .special-box-card__action {
    flex-direction: column;
    gap: 16vw;
    margin-bottom: 18.1333vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-card__action {
    justify-content: space-between;
    margin-bottom: 4.7222vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-card__action {
    margin-bottom: 6.4748vw;
  }
}

.special-box-card__price {
  display: flex;
  align-items: end;
  color: #FFFFFF;
  font-weight: 500;
  font-family: "YuGothic", sans-serif;
  line-height: 1;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .special-box-card__price {
    font-size: 8vw;
    gap: 0.2667vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-card__price {
    font-size: 2.0833vw;
    gap: 0.0694vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-card__price {
    font-size: 2.8777vw;
    gap: 0.1199vw;
  }
}

.special-box-card__price-note {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "YuGothic", sans-serif;
  line-height: 1;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .special-box-card__price-note {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-card__price-note {
    font-size: 0.8333vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-card__price-note {
    font-size: 1.199vw;
  }
}

.special-box-btn {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  color: #000;
  font-weight: 500;
  font-family: "YuGothic", sans-serif;
  line-height: 1;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 500ms, color 500ms;
  text-decoration: none;
}
.special-box-btn:hover {
  background-color: #666666;
  color: #FFFFFF;
}
.special-box-btn:hover::after {
  filter: invert(100%);
}
@media screen and (max-width: 767px) {
  .special-box-btn {
    font-size: 4.2667vw;
    gap: 13.8667vw;
    padding: 4.2667vw 5.3333vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-btn {
    font-size: 1.1111vw;
    gap: 3.6111vw;
    padding: 1.1111vw 1.3889vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-btn {
    font-size: 1.5348vw;
    gap: 5.3957vw;
    padding: 1.5588vw 1.6787vw;
  }
}
.special-box-btn::after {
  content: "";
  background-image: url("/images/icons/ic-arrow.svg");
  background-repeat: no-repeat;
  transition: filter 500ms;
}
@media screen and (max-width: 767px) {
  .special-box-btn::after {
    background-size: 3.2vw 1.6vw;
    width: 3.2vw;
    height: 1.6vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-btn::after {
    background-size: 0.8333vw 0.4167vw;
    width: 0.8333vw;
    height: 0.4167vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-btn::after {
    background-size: 1.4388vw 0.7194vw;
    width: 1.4388vw;
    height: 0.7194vw;
  }
}

.special-box-card__info {
  color: #FFFFFF;
  position: relative;
}
@media screen and (max-width: 767px) {
  .special-box-card__info {
    border-top: 0.2667vw solid;
    border-bottom: 0.2667vw solid;
    padding: 4.2667vw 0;
  }
}
@media screen and (min-width: 768px) {
  .special-box-card__info {
    border-top: 0.0694vw solid;
    border-bottom: 0.0694vw solid;
    padding: 1.25vw 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-card__info {
    border-top: 0.1199vw solid;
    border-bottom: 0.1199vw solid;
    padding: 1.7986vw 0;
  }
}

.special-box-card__info-title {
  background-color: #141021;
  color: #FFFFFF;
  font-weight: 500;
  font-family: "YuGothic", sans-serif;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .special-box-card__info-title {
    font-size: 3.7333vw;
    padding-right: 2.1333vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-card__info-title {
    font-size: 1.1111vw;
    padding-right: 0.5556vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-card__info-title {
    font-size: 1.5348vw;
    padding-right: 0.7794vw;
  }
}
.special-box-card__info-title--gray {
  background-color: #222222;
}

.special-box-card__content {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "YuGothic", sans-serif;
  line-height: 1.6;
}
@media screen and (max-width: 767px) {
  .special-box-card__content {
    font-size: 3.7333vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-card__content {
    font-size: 1.1111vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-card__content {
    font-size: 1.5348vw;
  }
}

.special-box-gray {
  background-color: #222222;
}

.special-box-gray__inner {
  width: 100%;
  display: grid;
}
@media screen and (max-width: 767px) {
  .special-box-gray__inner {
    padding: 16vw 5.3333vw;
  }
}
@media screen and (min-width: 768px) {
  .special-box-gray__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.7778vw;
    padding: 5.5556vw 0 2.7778vw;
    max-width: 69.4444vw;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-gray__inner {
    padding: 7.6739vw 0 3.8369vw;
    max-width: 96.1631vw;
    margin: 0 auto;
  }
}

.special-box-gray__right {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .special-box-gray__right {
    padding-left: 1.3889vw;
    padding-top: 8.75vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .special-box-gray__right {
    padding-left: 2.3981vw;
    padding-top: 11.9904vw;
  }
}

.store {
  background-color: #000;
}
@media screen and (max-width: 767px) {
  .store {
    padding: 21.3333vw 0;
  }
}
@media screen and (min-width: 768px) {
  .store {
    padding: 8.3333vw 0 11.1111vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .store {
    padding: 11.9904vw 0 11.9904vw;
  }
}

.store-title {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  line-height: 1;
  font-family: "Playfair Display";
  text-align: center;
}
@media screen and (max-width: 767px) {
  .store-title {
    margin-bottom: 16.5333vw;
    font-size: 16vw;
    text-align: center;
    letter-spacing: 1.6vw;
  }
}
@media screen and (min-width: 768px) {
  .store-title {
    margin-bottom: 5.5556vw;
    font-size: 6.9444vw;
    letter-spacing: 0.7292vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .store-title {
    margin-bottom: 7.4341vw;
    font-size: 8.3933vw;
    letter-spacing: 0.8393vw;
  }
}

.store-des {
  display: flex;
  color: #FFFFFF;
  font-weight: 500;
  font-family: "Playfair Display";
  line-height: 1;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .store-des {
    font-size: 8.5333vw;
    gap: 3.2vw;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .store-des {
    font-size: 4.1667vw;
    gap: 1.9444vw;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .store-des {
    font-size: 5.7554vw;
    gap: 2.518vw;
  }
}
@media screen and (max-width: 767px) {
  .store-des .store-svg {
    width: 29.8667vw;
  }
}
@media screen and (min-width: 768px) {
  .store-des .store-svg {
    width: 11.1111vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .store-des .store-svg {
    width: 15.3477vw;
  }
}

.store-svg {
  max-width: 100%;
}

.store-brand {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .store-brand {
    margin-top: 10.6667vw;
  }
}
@media screen and (min-width: 768px) {
  .store-brand {
    margin-top: 4.1667vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .store-brand {
    margin-top: 5.7554vw;
  }
}
@media screen and (max-width: 767px) {
  .store-brand img {
    width: 35.7333vw;
  }
}
@media screen and (min-width: 768px) {
  .store-brand img {
    width: 12.5vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .store-brand img {
    width: 17.0264vw;
  }
}

.store-text {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "YuGothic", sans-serif;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .store-text {
    font-size: 3.7333vw;
  }
}
@media screen and (min-width: 768px) {
  .store-text {
    font-size: 1.1111vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .store-text {
    font-size: 1.5348vw;
  }
}
.store-text--center {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .store-text--mt {
    margin-top: 10.6667vw;
  }
}
@media screen and (min-width: 768px) {
  .store-text--mt {
    margin-top: 4.1667vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .store-text--mt {
    margin-top: 6.235vw;
  }
}

@media screen and (max-width: 767px) {
  .store-accordion-list {
    margin-top: 10.6667vw;
  }
}
@media screen and (min-width: 768px) {
  .store-accordion-list {
    max-width: 69.4444vw;
    margin: 4.1667vw auto 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .store-accordion-list {
    max-width: 85.6115vw;
    margin: 4.1667vw auto 0;
  }
}
.store-accordion-list .c-accordion-top:not(:last-of-type) {
  border-bottom: 0;
}

.store-accordion {
  display: grid;
}
@media screen and (max-width: 767px) {
  .store-accordion {
    grid-template-columns: 1fr;
    gap: 8.5333vw;
    padding-bottom: 8vw;
  }
}
@media screen and (min-width: 768px) {
  .store-accordion {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.7778vw;
    padding-bottom: 2.0833vw;
  }
}

.store-map {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .store-map {
    border-left: 0.2667vw solid #555555;
    padding-left: 3.2vw;
    gap: 3.2vw;
  }
}
@media screen and (min-width: 768px) {
  .store-map {
    border-left: 0.0694vw solid #555555;
    padding-left: 0.8333vw;
    gap: 0.8333vw;
  }
}

.store-map__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #555555;
  transition: background-color 500ms, color 500ms;
}
.store-map__btn:hover {
  background-color: #222222;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .store-map__btn {
    width: 26.6667vw;
    height: 8.5333vw;
    gap: 4.5333vw;
  }
}
@media screen and (min-width: 768px) {
  .store-map__btn {
    width: 6.9444vw;
    height: 2.2222vw;
    gap: 1.1806vw;
  }
}

.store-map__btn-icon {
  position: relative;
  background-image: url("/images/icons/ic-plus.svg");
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .store-map__btn-icon {
    width: 4vw;
    height: 4vw;
    background-size: 4vw;
  }
}
@media screen and (min-width: 768px) {
  .store-map__btn-icon {
    width: 1.0417vw;
    height: 1.0417vw;
    background-size: 1.0417vw;
  }
}

.varon {
  background-color: #000;
}
@media screen and (max-width: 767px) {
  .varon {
    padding-bottom: 21.3333vw;
  }
}
@media screen and (min-width: 768px) {
  .varon {
    padding-bottom: 11.1111vw;
  }
}

.varon-svg {
  max-width: 100%;
  height: auto;
}

.varon-title {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  line-height: 1;
  font-family: "Playfair Display";
  text-align: center;
}
@media screen and (max-width: 767px) {
  .varon-title {
    font-size: 16vw;
    text-align: center;
    letter-spacing: 1.6vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-title {
    font-size: 6.9444vw;
    letter-spacing: 0.7292vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .varon-title {
    margin-bottom: 8.1535vw;
    font-size: 8.3933vw;
    letter-spacing: 0.8393vw;
  }
}

.varon-des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .varon-des {
    gap: 8vw;
    margin-top: 16vw;
    margin-bottom: 10.6667vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-des {
    gap: 2.0833vw;
    margin-top: 5.8333vw;
    margin-bottom: 4.1667vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .varon-des {
    gap: 2.6379vw;
    margin-top: 7.1942vw;
    margin-bottom: 4.7962vw;
  }
}

@media screen and (max-width: 767px) {
  .varon-des__img-02 {
    width: 58.6667vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-des__img-02 {
    width: 29.3056vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .varon-des__img-02 {
    width: 40.4077vw;
  }
}

@media screen and (max-width: 767px) {
  .varon-des__img {
    width: 89.6vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-des__img {
    width: 58.3333vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .varon-des__img {
    width: 80.5755vw;
  }
}

.varon-text {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "YuGothic", sans-serif;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .varon-text {
    font-size: 3.7333vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-text {
    font-size: 1.1111vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .varon-text {
    font-size: 1.5348vw;
  }
}

.varon-grid {
  display: grid;
}
@media screen and (max-width: 767px) {
  .varon-grid {
    gap: 10.6667vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .varon-grid {
    gap: 4.7962vw;
  }
}

.varon-left__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .varon-left__img {
    height: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .varon-left__img {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .varon-right {
    padding: 0 5.3333vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-right {
    max-width: 43.0556vw;
    padding-left: 5.5556vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .varon-right {
    max-width: 40.4077vw;
    padding-left: 0vw;
  }
}
@media screen and (max-width: 767px) {
  .varon-right > .varon-text {
    text-align: center;
  }
}

.varon-info {
  color: #FFFFFF;
  position: relative;
}
@media screen and (max-width: 767px) {
  .varon-info {
    border-top: 0.2667vw solid;
    border-bottom: 0.2667vw solid;
    padding: 4.2667vw 0;
    margin: 12.8vw 0 5.3333vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-info {
    border-top: 0.0694vw solid;
    border-bottom: 0.0694vw solid;
    padding: 1.3889vw 0 0.6944vw;
    margin: 3.3333vw 0 1.3889vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .varon-info {
    border-top: 0.1199vw solid;
    border-bottom: 0.1199vw solid;
    padding: 1.9185vw 0 1.199vw;
    margin: 4.7962vw 0 1.4388vw;
  }
}

.varon-info__title {
  background-color: #000;
  color: #FFFFFF;
  font-weight: 500;
  font-family: "YuGothic", sans-serif;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .varon-info__title {
    font-size: 4.2667vw;
    padding-right: 2.1333vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-info__title {
    font-size: 1.25vw;
    padding-right: 1.1111vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .varon-info__title {
    font-size: 1.7266vw;
    padding-right: 1.9185vw;
  }
}

.varon-info__content {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "YuGothic", sans-serif;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .varon-info__content {
    font-size: 3.7333vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-info__content {
    font-size: 0.9722vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .varon-info__content {
    font-size: 1.3429vw;
  }
}
.varon-info__content sup {
  vertical-align: text-bottom;
}
@media screen and (max-width: 767px) {
  .varon-info__content sup {
    font-size: 2.6667vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-info__content sup {
    font-size: 0.6944vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .varon-info__content sup {
    font-size: 1.199vw;
  }
}

.varon-note {
  display: flex;
}
@media screen and (max-width: 767px) {
  .varon-note {
    gap: 1.0667vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-note {
    gap: 0.2778vw;
  }
}
@media screen and (max-width: 767px) {
  .varon-note--spacing {
    margin: 3.2vw 0 16vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-note--spacing {
    margin: 0.8333vw 0 4.1667vw;
  }
}

.varon-note__text {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "YuGothic", sans-serif;
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .varon-note__text {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 768px) {
  .varon-note__text {
    font-size: 0.8333vw;
  }
}

@media screen and (max-width: 767px) {
  .varon-action {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .varon-action {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.teaser {
  height: 100vh;
  width: 100%;
  background-color: #000;
  position: relative;
}
@media screen and (min-width: 768px) {
  .teaser {
    background-size: cover;
    padding: 0 2.7778vw;
    background-image: url("../../images/teaser/img_main.webp");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    max-height: 1500px;
  }
}
@media screen and (max-width: 767px) {
  .teaser {
    max-height: 932px;
    min-height: 667px;
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  .teaser::after {
    content: "";
    position: absolute;
    top: 134px;
    left: 0;
    width: 100%;
    height: 80vw;
    max-height: 420px;
    background-image: url("../../images/teaser/img_main_sp.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }
}

.teaser__logo {
  position: absolute;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .teaser__logo {
    width: 116px;
    left: 40px;
    top: 40px;
  }
}
@media screen and (max-width: 767px) {
  .teaser__logo {
    width: 78px;
    left: 20px;
    top: 20px;
  }
}

.teaser__logo-img {
  max-width: 100%;
  height: auto;
}

.teaser__inner {
  position: relative;
  z-index: 2;
  display: flex;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .teaser__inner {
    align-items: center;
    justify-content: space-between;
    padding: 0 5.5556vw;
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .teaser__inner {
    flex-direction: column;
    gap: 222px;
  }
}

.teaser__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .teaser__left {
    padding-top: 80px;
    justify-content: center;
    align-items: center;
  }
}

.teaser__right {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .teaser__right {
    gap: 17px;
  }
}
@media screen and (max-width: 767px) {
  .teaser__right {
    gap: 14px;
    padding-left: 6px;
    position: absolute;
    bottom: 35px;
  }
}

.teaser__coming {
  font-weight: 500;
  color: #FFFFFF;
  font-family: "Playfair Display";
  letter-spacing: 4.1px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .teaser__coming {
    font-size: 42px;
  }
}
@media screen and (max-width: 767px) {
  .teaser__coming {
    font-size: 36px;
  }
}

.teaser__svg {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
}
.teaser__svg--mb {
  margin-bottom: 6px;
}

.p-main-video-content {
  position: fixed;
  inset: 0;
  background-color: #000;
}

.p-main-video-wrapper {
  position: absolute;
  width: 100%;
  transition: background-color 0.4s;
}
@media screen and (min-width: 768px) {
  .p-main-video-wrapper {
    inset: 0;
  }
}
@media screen and (max-width: 767px) {
  .p-main-video-wrapper {
    top: 134px;
    bottom: calc(100vh - 400px - 134px);
  }
}
.p-main-video-wrapper:after {
  content: "";
  transition: background-color 0.4s;
  position: absolute;
  inset: 0;
}
.p-main-video-wrapper.is-fade:after {
  background-color: rgba(0, 0, 0, 0.8);
}

.p-main-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-main-video {
    top: 0;
  }
}
@media screen and (max-width: 767px) {
  .p-main-video {
    width: 100%;
  }
}

.p-concept {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.p-concept img {
  max-width: 100%;
}
.p-concept figure {
  max-width: 100%;
}
.p-concept figure img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-concept {
    padding-top: 8.2639vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept {
    padding-top: 31.7333vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept {
    padding-top: 14.2686vw;
  }
}

.p-concept__container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .p-concept__container {
    padding: 0px 4.1667vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__container {
    padding: 0px 5.3333vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__container {
    padding: 0px 7.1942vw;
  }
}

.p-concept__title {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  line-height: 1;
  opacity: 0.5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-concept__title {
    letter-spacing: 0.6944vw;
    font-size: 6.9444vw;
    margin-top: 8.3333vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__title {
    font-size: 16vw;
    margin-top: 21.3333vw;
    letter-spacing: 6px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__title {
    font-size: 8.3933vw;
    margin-top: 14.3885vw;
    letter-spacing: 7px;
  }
}

.p-concept__bottom {
  position: relative;
  display: flex;
}
@media screen and (min-width: 768px) {
  .p-concept__bottom {
    padding-bottom: 13.8889vw;
    margin-top: 5.5556vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__bottom {
    flex-direction: column;
    align-items: center;
    margin-top: 16vw;
    padding-bottom: 16vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__bottom {
    margin-top: 9.5923vw;
    padding-bottom: 11.7506vw;
  }
}

.p-concept__bottom-left {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: start;
}
@media screen and (min-width: 768px) {
  .p-concept__bottom-left {
    width: 45.8333vw;
    padding-left: 19.0972vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__bottom-left {
    width: 36.3309vw;
    padding-left: 0px;
  }
}

.p-concept__bottom-right {
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .p-concept__bottom-right {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .p-concept__bottom-logo {
    width: 16.6667vw;
    margin: 0.6944vw 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 13.8889vw;
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__bottom-logo {
    width: 38.4vw;
    margin: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__bottom-logo {
    width: 22.542vw;
    margin: 1.199vw 0px 0px 0.3597vw;
  }
}

@media screen and (min-width: 768px) {
  .p-concept__img-1 {
    width: 36.9444vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__img-1 {
    width: 141.8667vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__img-1 {
    width: 63.789vw;
  }
}

@media screen and (min-width: 768px) {
  .p-concept__img-3 {
    width: 33.6806vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__img-3 {
    margin: 19.2vw auto 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__img-3 {
    width: 45.5635vw;
  }
}

@media screen and (min-width: 768px) {
  .p-concept__img-4 {
    margin-top: 8.3333vw;
    width: 26.4583vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__img-4 {
    margin: 26.6667vw auto 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__img-4 {
    margin-top: 11.3909vw;
    width: 36.0911vw;
  }
}

@media screen and (min-width: 768px) {
  .p-concept__img-5 {
    margin-top: 2.7778vw;
    width: 36.3194vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__img-5 {
    margin: 14.4vw 0px 0px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__img-5 {
    margin-top: 3.8369vw;
    width: 49.1607vw;
  }
}

.p-concept__products {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.p-concept__products img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .p-concept__products {
    grid-template-columns: 1fr;
  }
}

.p-concept__box {
  display: flex;
  justify-content: center;
  font-family: "YuGothic", sans-serif;
}
@media screen and (min-width: 768px) {
  .p-concept__box {
    padding: 13.8889vw 0px 11.1111vw 0.4167vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__box {
    flex-direction: column-reverse;
    padding: 19.2vw 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__box {
    padding: 6.9444vw 0px 11.1111vw;
  }
}

.p-concept__box-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .p-concept__box-left {
    padding-right: 6.9444vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__box-left {
    padding-right: 8.753vw;
  }
}

.p-concept__box-right {
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .p-concept__box-right {
    width: 32.1528vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__box-right {
    padding: 0px 5.3333vw;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__box-right {
    width: 49.1607vw;
  }
}

.p-concept__box-text {
  line-height: 2;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .p-concept__box-text {
    font-size: 1.1111vw;
    margin-top: 2.7778vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__box-text {
    margin-top: 12.5333vw;
    font-size: 3.7333vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__box-text {
    font-size: 1.5024vw;
    margin-top: 3.717vw;
  }
}

@media screen and (min-width: 768px) {
  .p-concept__box-img-1 {
    width: 32.2222vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__box-img-1 {
    margin: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__box-img-1 {
    width: 43.6451vw;
  }
}

@media screen and (min-width: 768px) {
  .p-concept__box-img-2 {
    margin-right: 40px;
    width: 22.2222vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__box-img-2 {
    width: 85.3333vw;
    margin: 10.6667vw 40px 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__box-img-2 {
    width: 24.5803vw;
    margin: 4.7962vw 2.3981vw 0px;
  }
}

@media screen and (min-width: 768px) {
  .p-concept__box-img-3 {
    width: 16.6667vw;
    padding-top: 5vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__box-img-3 {
    width: 64vw;
    margin: 0px 5.3333vw 0px auto;
    padding-top: 5.8667vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .p-concept__box-img-3 {
    width: 18.4652vw;
    padding-top: 5.7554vw;
  }
}

.p-concept__box-note {
  color: #fff;
  font-weight: 500;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .p-concept__box-note {
    font-size: 0.6944vw;
    margin: 1.3889vw 0px 0px 0.1389vw;
  }
}
@media screen and (max-width: 767px) {
  .p-concept__box-note {
    font-size: 2.6667vw;
    margin-top: 2.6667vw;
  }
}

/*# sourceMappingURL=style.css.map */